<h1 style="padding: 1%; color:rgb(49, 49, 158);text-align:center;">Mise a jour d'un Article</h1>
<form (ngSubmit)="updateArticle()" >
    <div class="form-group">
        <label for="articleLabel">Article Label</label>
        <input [(ngModel)] ="label" size="20" name="articleLabel" class="form-control"  type="text" id="articleLabel">
    </div>
    <div class="form-group">
        <label for="articlePrice">Article Price</label>
        <input [(ngModel)] ="price"  size="20" name="articlePrice" class="form-control" type="text" id="articlePrice" >
    </div>
    <div class="form-group">
        <label for="articlePicture2">Article Picture</label><br>
        <img src="{{ urlUpload }}/{{ oldImage }}" width="17%" />
    </div>
    <div class="form-group">
        <input [(ngModel)] ="newImage" size="20" name="articlePicture2" class="form-control" type="file" id="articlePicture2" (change)="onFileChanged($event)">
    </div>
    
    <input [(ngModel)] ="id" name="articleId" type="hidden" />
    <button class="btn btn-primary">Mise a jour</button>
</form>